numpy==1.26.4
scipy==1.15.3
matplotlib==3.10.8
netCDF4==1.7.4
rasterio==1.4.4
shapely==2.0.7
pyproj==3.7.2
Pillow==10.3.0
pandas==2.2.3
nbformat==5.10.4
nbclient==0.10.4
ipykernel==6.29.5
jupyter-client==8.8.0
